/* for MathJax display workaround */
.MathJax > svg {
  display: inline
}
/* for figure display center */
figure > img {
  display: block;
  margin: 0 auto;
}

figure > figcaption {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}